$color_primary: #8c34c7;
$color_primary-text: white;
$color_accent: #59477f;
$color_background: #121316;
$color_background-semidark: #0e1011;
$color_background-dark: #090a0b;
$color_background-text: white;
