ul:not(.unstyled) {
    list-style-type: none;

    li {
        position: relative;

        &::before {
            content: "-";
            position: absolute;
            left: 0;
            transform: translateX(calc(-100% - 1rem));
        }

        &:hover, &:focus, &:focus-within {
            &::before {
                content: "+";
            }
        }
    }
}
