@import "../values/colors";


nav {
    position: fixed;
    width: 100vw;
    white-space: nowrap;
    overflow-x: auto;
    background: $color_background-dark;
    border-bottom: 1px solid #555;
    outline: 1px solid #333;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;

            a { 
                display: inline-block;
                padding: .25rem .5rem;
                color: $color_background-text;

                &.external {
                    color: $color_accent;
                }
            }
        }
    }
}

.nav-spacer {
    height: 1.5em;
}
