@import "../values/colors";

.two-liner {
    margin: .5rem 0;

    :nth-child(2) {
        display: inline-block;  // Somehow needed to remove underline when inherited from parent
        font-size: .75em;
        color: rgba($color_background-text, .65);
        text-decoration: none;
    }
}
