@import "../values/colors";
@import "../values/typography";
@import "../values/dimensions";
@import "../components/nav";
@import "../components/list";
@import "../components/two-liner";

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: $color_background;
    color: $color_background-text;
    @include text_body();
    font-family: $font_monospace;
    font-size: 18px;
}

h1 {
    @include text_title();
    margin: .5em 0 .25em 0;
}

h2 {
    @include text_headline();
}

p, ul, ol {
    max-width: 70ch;
}

a {
    text-decoration: none;
    color: $color_primary;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    &.back {
        @include text_small();
    
        &::before {
            content: "<";
            margin-right: 1em;
        }
    }
}

small {
    @include text_small();
}

strong {
    @include text_body-strong();
}

pre.sourceCode {
    max-width: 75ch;
    padding: 1rem;
    background: $color_background-dark;
    overflow-x: auto;
    @include fluid-type(375px, 1000px, 12px, 18px);
}

main {
    padding: 1rem;
    @include fluid-type(375px, 1000px, 16px, 24px);
}
