@import "../values/colors";

#page_index {
    nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        border: none;
        outline: none;
        background: none;
        font-size: 1.5em;
        white-space: unset;
        overflow-x: unset;

        ul {
            display: inline-block;

            a.external {
                color: $color_primary;
            }
        }
    }
}
